<!DOCTYPE html>
<html lang="en" class="dark-mode">
<head>
    <meta charset="UTF-8">
    <meta name="main" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/main_tables.css">
    <link rel="stylesheet" href="static/styles/main_sidebar.css">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer type="module" src="static/scripts/main.js"></script>
    <script defer type="module" src="static/scripts/sidebar.js"></script>
    <title>BestChange na minimalkax</title>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div class="theme-changer">
            <button class="theme-button" id="light-mode" title="Светлая тема">
                <i class="fa fa-sun-o"></i>
            </button>
        </div>
       
        <h3 class="update-time"></h3>
    </div>
    
    <div class="main-content">
        <div class="sidebar" id="sidebar-show">
            <div class="sidebar-header">
                <input class="input-limit" type="text" placeholder="Лимит обменников" value="">
                <input class="input-exchanger" type="text" placeholder="Нужный обменник" value="">
            </div>
            <div class="sidebar-main">
                <div class="input-pairs">
                    <div class="input1">
                        <button class="add-new-pair">
                            <i class='fa fa-plus'></i>
                        </button>
                        <input class="give1" type="text" placeholder="Отдаёте" value="">
                        <input class="take1" type="text" placeholder="Получаете" value="">
                        <button class="delete-this-pair">
                            <i class='fa fa-times'></i>
                        </button>
                    </div>
                </div>
                <div class="pairs-list">
                    <span class="currency0" draggable="true"></span>
                </div>
            </div>
            <div class="sidebar-footer">
                <button class="logout">Выйти</button>
                <button class="update-pairs-list">Список курсов</button>
                <button class="sidebar-save">Сохранить</button>
            </div>
            
        </div>
            <div class="side-button-wrapper">
                <button class="side-button" id="hide-button">
                    <i class="fa fa-chevron-left"></i>
                </button>
            </div>

        <div class="tables-content">
            <table class="table0">
                <thead>
                    <tr>
                        <th colspan="4">
                            <span>
                                Список обменников
                            </span>
                            <button class="city-button" id="city-show-button">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                            <input class="input-city" id="city-hided" type="text" placeholder="Город" value="">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="exchanger">Обменник</td>
                        <td class="give-amount">Отдаёте</td>
                        <td class="receive-amount">Получаете</td>
                        <td class="reserve">Резерв</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
