<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="cycling" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <title>BestChange na minimalkax</title>
</head>

<body>
    <h3 class="update_time">Время крайнего обновления</h1>
    <div class="maindiv">
        <table class="table0">
            <thead>
                <tr>
                    <th colspan="5">Список обменников</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="exchanger">Обменник</td>
                    <td class="rate">Курс</td>
                    <td class="reserve">Резерв</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="static/main.js"></script>
</html>
